main {
    min-height: 100vh;
}

.img-thumb {
    height: 200px;
}

.card {
    height: 300px !important;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .img-thumb {
        height: 100px;
    }

    .card {
        height: 400px !important; 
    }
}